.headerContainer::after{
  height: 700px;
  content: " ";
  position: absolute;
  top: 0;
  width: 33%;
  background-color: #3A4256;
  right: 0;
  z-index: -50;
}
.headerContainer{
  height: auto;
  background-image: url('./images/bgChair.png');
  background-size: 100% 100%;
}
.appointment-header-bg{
  height: auto;
  background-image: url('./images/bgChair.png');
  background-size: 100% 100%;
}
.book-appointment-btn{
  background: linear-gradient(
    45deg
    , #25e6cb, #0bb0cb);
        padding: 10px;
        margin-top: 10px;
        border: none;
        outline-color: aqua;
        color: white;
        font-weight: 600;
        border-radius:5px;
}